          <div style="margin: 20px">
                <div style="margin-top: 30px">
                    <div class="col-lg-2" style="text-align: right">
                        <h5>Nama Event</h5>
                    </div>

                    <div class="form-group col-lg-10">
                        <input type="text" class="form-control" style="width: 30%" [(ngModel)]="newNamaEvent">
                    </div>
                </div>

                <div style="margin-top: 30px">
                    <div class="col-lg-2" style="text-align: right">
                        <h5>Waktu Event</h5>
                    </div>

                    <div class="form-group col-lg-10">
                        <input type="text" class="form-control" style="width: 20%" [(ngModel)]="newWaktuEvent">
                    </div>
                </div>

                <div style="margin-top: 30px">
                    <div class="col-lg-2" style="text-align: right">
                        <h5>Lokasi Event</h5>
                    </div>

                    <div class="form-group col-lg-10">
                        <input type="text" class="form-control" style="width: 20%" [(ngModel)]="newLokasiEvent">
                    </div>
                </div>

                <button class="btn btn-primary" style="margin-left: 222px" (click)="addData()">Add Event</button>
            </div>

