              <div style="margin: 25px">
                <div>
                    <div>
                        <table class="table table-striped">
                            <tr>
                                <th>Nama Event</th>
                                <th>Waktu Event</th>
                                <th>Lokasi Event</th>
                            </tr>

                             <tr *ngFor="let toDo of event; let i = index">
                                <td>{{ toDo.nama_event }}</td>
                                <td>{{ toDo.waktu_event }}</td>
                                <td>{{ toDo.lokasi_event }}</td>
                                <td>
                                  <button class="btn btn-success" (click)="Buy(toDo.id)">Remove</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

              </div>
